.pf__header {
    &__content {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 50px
    }
    &__logo {
        font-family: "Lora", "Times New Roman";
        font-size: 120px;
        @media (max-width: 1024px) {
            font-size: 80px;
        }
        @media (max-width: 700px) {
            font-size: 60px;
        }
    }
    &__options-contrast {
        font-family: "Lora", "Times New Roman";
        font-weight: 500;
        font-size: 20px;
        position: fixed;
        right: 40px;
        top: 105px;
        margin-top: 0px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -ms-transform-origin: right, top;
        -webkit-transform-origin: right, top;
        z-index: 3;
        @media (max-width: 700px) {
            right: 10px;
            font-size: 18px;
        }
        span {
           cursor: pointer; 
        }
        .active {
            font-weight: 600;
            border-bottom: 2px solid #000;
            &:hover {
                border-color: transparent;
            }
        }
    }
}
.pf__bio {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 400px;
    &__content {
        width: 80%;
        @media (max-width: 700px) {
            width: 90%;
        }
    }
    p {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 50px;
        @media (max-width: 1024px) {
            font-size: 25px;
            line-height: 35px;
            width: 100%;
        }
        @media (max-width: 700px) {
            font-size: 18px;
            line-height: 27px;
        }
    }
}
.pf__works {
    position: relative;
    width: 100%;
    background-color: #000;
    margin-top: 200px;
    @media (max-width: 1024px) {
        padding: 10px;
    }
    &__content {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }
    &__title {
       font-size: 120px;
       color: #fff;
       font-family: "Lora", "Times New Roman";
       margin-bottom: 50px;
       @media (max-width: 1024px) {
            font-size: 80px;
        }
        @media (max-width: 700px) {
            font-size: 60px;
        }
    }
    &__slider {
        &__item {
            position: relative;
            &__content {
                margin: 20px;
            }
            &__thumb { 
                border: 2px solid #fff;
                width: 100%;
                height: auto;
            }
            &__info {
                text-align: center;
                h2 {
                    font-family: "Lora", "Times New Roman";
                    font-size: 35px;
                    line-height: 40px;
                    color: #fff;
                    margin-top: 30px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
                span {
                    font-family: "Lora", "Times New Roman";
                    font-size: 20px;
                    line-height: 25px;
                    color: #fff;
                }
                p {
                    font-size: 15px;
                    line-height: 20px;
                    color: #fff;
                    margin-top: 30px;
                }
                &__btn {
                    display: inline-block;
                    font-family: "Lora", "Times New Roman";
                    font-size: 15px;
                    color: #fff;
                    border-bottom: 2px solid #fff;
                    margin-top: 30px;
                    padding: 0 4px 6px 0px;
                    margin-bottom: 30px;
                    &:hover {
                        border-color: transparent;
                    }
                }
            }
        }
        &__btn-next {
          position: absolute;
          right: 40px; 
          top: 50%;
          font-size: 40px;
          color: #fff;
          cursor: pointer;
          @media (max-width: 1024px) {
            right: 20px;
            font-size: 20px;
          }
        }
        &__btn-prev {
            position: absolute;
            left: 40px; 
            top: 50%;
            font-size: 40px;
            color: #fff;
            cursor: pointer;
            @media (max-width: 1024px) {
              left: 20px;
              font-size: 20px;
            }
        }
    }
}
.pf__bio-aditional {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 400px;
    &__content {
        width: 80%;
        @media (max-width: 700px) {
            width: 90%;
        }
    }
    p {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 50px;
        @media (max-width: 1024px) {
            font-size: 25px;
            line-height: 35px;
            width: 100%;
        }
        @media (max-width: 700px) {
            font-size: 18px;
            line-height: 27px;
        }
    }
}
.pf__contact {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 400px;
    &__content {
        width: 80%;
    }
    &__title {
        font-size: 120px;
       font-family: "Lora", "Times New Roman";
       margin-bottom: 120px;
       @media (max-width: 1024px) {
        font-size: 80px;
       }
       @media (max-width: 700px) {
        font-size: 60px;
       }
    }
    p {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 50px;
        @media (max-width: 1024px) {
            font-size: 25px;
            line-height: 35px;
        }
        @media (max-width: 700px) {
            font-size: 18px;
            line-height: 27px;
        }
    }
    a {
        display: inline-block;
        border-bottom: 2px solid #000;
        &:hover {
            border-color: transparent;
        }
    }
}
.pf__footer {
    &__content {
        position: relative;
        width: 80%;
        margin:  0 auto;
        margin-top: 200px;
        margin-bottom: 30px;
    }
    &__social-links {
        display: inline;
        list-style: none;
        position: fixed;
        right: -52px;
        bottom: 150px;
        margin-top: 0px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -ms-transform-origin: right, top;
        -webkit-transform-origin: right, top;
        @media (max-width: 700px) {
            right: -76px;
        }
        li {
            display: inline-block;
            font-family: "Lora", "Times New Roman";
            font-size: 20px;
            margin: 0px;
            @media (max-width: 700px) {
                font-size: 18px;
            }
            a {
                margin-left: 30px;
                border-bottom: 2px solid #000;
                &:hover {
                    border-color: transparent;
                }
            }
        }
    }
    p {
        font-family: "Lora", "Times New Roman";
        font-size: 15px; 
    }
}
